@font-face {
    font-family: 'ElmsSans';
    src: url('/static/fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'ElmsSans';
    src: url('/static/fonts/Elms_Sans/ElmsSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

body {
    font-family: 'ElmsSans', sans-serif;
}