<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <script src="/static/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/css/admin-panel.css">
        <link rel="stylesheet" href="/static/css/typography.css">
    </head>
    <body class="admin-panel-body">
        <header class="admin-header">
            <h2 class="admin-panel">Welcome to the Admin Panel, {{ user.email.split('@')[0] }}!</h2>
        </header>
        <div class="admin-panel-container">
            <nav class="sidebar">
                    <ul>
                        <li><h3><a href="#">Dashboard</a></h3></li>
                        <li><h3><a href="#">Rules</a></h3></li>
                        <li><h3><a href="#">Words</a></h3></li>
                        <li><h3><a href="#">Exercises</a></h3></li>
                    </ul>
                </nav>
            <main>
                <section id="dashboard" aria-labelledby="dashboard-heading">
                    <h1 id="dashboard-heading">Dashboard</h1>
                    <div>
                        Here will be the content
                    </div>
                </section>
            </main>
            <footer></footer>
        </div>
    </body>
</html>