<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <script src="/static/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/css/admin-panel.css">
        <link rel="stylesheet" href="/static/css/typography.css">
        <link rel="stylesheet" href="/static/css/fontawesome-free-7.3.0-web/css/all.min.css">
        <script src="/static/js/highlight_active_menu_section.js" defer></script>
    </head>
    <div id="loader" class="htmx-indicator">
        <div class="spinner"></div>
    </div>
    <body class="admin-panel-body">
        <header class="admin-header">
            <div class="header-content">
                <div class="logo-container">
                    <div class="logo-icon">
                        <i class="fa-solid fa-leaf"></i>
                    </div>
                    <h2 class="admin-panel">Welcome to the Admin Panel, {{ user.email.split('@')[0] }}!</h2>
                </div>
            </div>
        </header>
        <div class="admin-panel-container">
            <nav class="sidebar"
                hx-target="#main-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-indicator="#loader"
            >
                <ul>
                    {% for section in menu_sections %}
                    <li>
                        <a href="{{ section.url }}" hx-get="{{ section.url }}">
                            <i class="fa-solid {{ section.logo }}"></i>
                            {{ section.label }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <main class="main-content">
                <section id="main-content" aria-labelledby="content-heading">
                    {% block content %}
                        {% include "menu-sections/_dashboard_content.html" %}
                    {% endblock %}
                </section>
            </main>
            <footer></footer>
        </div>
    </body>
</html>
